#toolbar {
  display: flex;
}

#variablesToolbar {
  display: flex;
  background-color: none;
}

#right-sidenav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#variablesDiv {
  display: inline-block;
  position: absolute;
  
  flex-direction: row;
  justify-content: center;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0px;
  padding:0%;
  background-color: none;
  z-index: 2;
  opacity: .90;
  /* min-width: 800px; */
  max-height: 95px;
  overflow-y: auto;
}

#variableGroup {
  /* display: flex !important; */
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  border: none;
  /* padding: 0px 300px; */
  display: inline-flex;
  overflow: hidden;
  border-radius: 4px;
 
}

/* @media (max-width: 750px) {
  #variablesDiv {
    width: 200px;
    top: 200px;
    justify-content;
  }

  #variableGroup {
    flex-wrap: nowrap;
  }
} */
