<mat-card id="bivariateCard">
    <mat-card-header id="bivariate-header">
        <mat-card-title>Analyze Relationships between two indicators</mat-card-title>
        <mat-slide-toggle *ngIf="isToggled()"
          id="bivariate-toggle"
          [checked]="checked"
          (change)="onToggleChange($event)"
          >
      </mat-slide-toggle>
    </mat-card-header>
    <p>This tool analyzes associations between a pair of indicators in the explorer.</p>
    <form class="bivariate-form">
        <mat-form-field class="bivariate-form-field">
          <mat-label>Select first indicator</mat-label>
          <input type="text"
                 placeholder="Select first indicator"
                 aria-label="Field"
                 matInput
                 [formControl]="field1Control"
                 [matAutocomplete]="auto1"
                 (click)="onForm1Click($event)">
          
          <mat-autocomplete #auto1="matAutocomplete">
            @for (option of field1Filter | async; track option) {
              <mat-option (onSelectionChange)="onFieldChange('field1',option)" [value]="option.name">
                {{ option.name }}
              </mat-option>
            }
          </mat-autocomplete>
          
        </mat-form-field>

        <mat-form-field class="bivariate-form-field">
            <mat-label>Select second indicator</mat-label>
            <input type="text"
                   placeholder="Select second indicator"
                   aria-label="Field"
                   matInput
                   [formControl]="field2Control"
                   [matAutocomplete]="auto2"
                   (click)="onForm2Click($event)">
            
            <mat-autocomplete #auto2="matAutocomplete">
              @for (option of field2Filter | async; track option) {
                <mat-option (onSelectionChange)="onFieldChange('field2',option)" [value]="option.name">
                  {{ option.name }}
                </mat-option>
              }
            </mat-autocomplete>
            
          </mat-form-field>
          <div id="button-div">
                <button id="button" (click)="onRunClick($event)" [disabled]="isFormInvalid()" mat-flat-button>Analyze correlation</button>
          </div>
      </form>
</mat-card>
