.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust as needed */
  }

#appMap {
    height: 100%;
}

#appTime {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 350px;
  padding: 10px;
}

app-search {
  position: absolute;
  width: 300px;
  right: 15px;
  top: 50px;
  z-index: 3;
}