<form class="search-form" (click)="onFormClick($event)">
    <mat-form-field class="search-form-field">
      <mat-label>Search for a location...</mat-label>
      <input #searchbox
             type="text"
             placeholder="Select a Location"
             aria-label="Location"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option (onSelectionChange)="onSelectionChange($event,option)" [value]="option.name">
            {{ option.name }}
          </mat-option>
        }
      </mat-autocomplete>
      
    </mat-form-field>
  </form>